[submodule "Dependencies/Eni"]
	path = Dependencies/Eni
	url = https://github.com/vlad230596/Eni.git
[submodule "Dependencies/w5500"]
	path = Dependencies/w5500
	url = https://github.com/rschlaikjer/w5500.git
